<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxs.quartz.mapper.JobInfoMapper">
    <resultMap id="BaseResultMap" type="com.wxs.quartz.model.JobInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR"/>
        <result column="job_group" property="jobGroup" jdbcType="VARCHAR"/>
        <result column="job_description" property="jobDescription" jdbcType="VARCHAR"/>
        <result column="job_status" property="jobStatus" jdbcType="VARCHAR"/>
        <result column="job_class" property="jobClass" jdbcType="VARCHAR"/>
        <result column="trigger_name" property="triggerName" jdbcType="VARCHAR"/>
        <result column="trigger_group" property="triggerGroup" jdbcType="VARCHAR"/>
        <result column="trigger_status" property="triggerStatus" jdbcType="VARCHAR"/>
        <result column="trigger_description" property="triggerDescription" jdbcType="VARCHAR"/>
        <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
     id,job_name,job_group,job_description,job_status,job_class,trigger_name,trigger_group,trigger_status,
     trigger_description,cron_expression,create_user,create_time,update_user,update_time
    </sql>

    <update id="updateJobByJobKey">
        UPDATE t_job_info j
        SET j.job_status = #{jobStatus}
        WHERE
            j.job_group = #{jobGroup}
        AND j.job_name = #{jobName};
    </update>

    <select id="selectJobByJobKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM t_job_info j
        WHERE
        j.job_group = #{jobGroup}
        AND j.job_name = #{jobName};
    </select>
</mapper>